* {
    box-sizing: border-box;
}

body {
    margin-left: 0%;
    margin-right: 0%;
}

.site-blocks-cover, .site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh - 1000px);
}

/* .row>.column {
    padding: 0 8px;
} */

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */
.container h4 {
    color: #ef6c57;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* padding-top: 40px; */
    left: 0;
    top: 0;
    /* width: 100%;
    height: 100%; */
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.7);
    /* border-style: solid; */
    /* border-width: 5px; */
    border-color: #333;
    /* margin: 2%; */
    overflow-x: hidden;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #000;
    margin: auto;
    padding: 0;
    width: 100%;
    /* max-width: 1200px; */
    max-width: 70%;
    padding-bottom: 10px;
}

/* The Close Button */

.close {
    color: white;
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 30px;
    font-weight: normal;
}

/* .close.cursor:hover,
.close.cursor:focus {
    color: yellow;
    text-decoration: none;
    cursor: pointer;
} */

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #fff; /* laranja do logo #f58634; */
    text-decoration: none;
    opacity: .85;
}

/* .ftco-navbar-light.scrolled.awake {
    display: none;
} */

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: 0; /* origin -4px; */
}

.caption-container {
    text-align: center;
    background-color: black;
    /* padding: 2px 16px; */
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.site-footer {
    padding: 4em 0;
    background: #18294a; /*  #333333; */
    margin-left: 0;
    margin-right: 0;
}

.texto-obras {
    text-align: justify;
}

.unit-4 h3 {
    font-size: 20px;
    padding: 10px 0 0 0;
}

a h6 {
    color: #46403f;
}

a:hover h6 {
    color: #ea7626 /* #ef6c57; */
}

.navbar-toggler {
    color: #46403f;
}

.row {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0px;
}

.owl-carousel.owl-drag .owl-item {
    height: 500px;
}

@media (max-width: 460px){
    .owl-carousel.owl-drag .owl-item {
        height: 336px;
    }
}

.site-navbar{
    font-size: 20px;
    /* background-color: #e2e3e5; */
}

.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}

.site-section {
    margin-left: 0;
    margin-right: 0;
}

.site-section.backgrey {
    background-color: #f5f5f5;
}

.site-section.backgreen {
    background-color: #35873a;
}

.site-section.backorange {
    background-color: #ea7626;
}

.ftco-navbar-light.scrolled {
    background: #e2e3e5 !important;
}

.btn {
    border-radius: 5px;
    border: 2px solid;
}

.btn-orange {
    background-color: #ea7626;
    border:2px solid #ea7626;
    color: #fefefe;
}

.hover-black.btn:hover {
    color: #000;
    border:2px solid #000;
}

.btn-white {
    background-color: #fefefe;
    border: 2px solid #fefefe;
    color: #000;
}

.btn:hover {
    color:#fefefe;
    background-color: transparent;
    border: 2px solid #fefefe;
}

.ftco-navbar-light {
    background: #e2e3e5 !important;
    z-index: 3;
    padding: 0;
}

.site-navbar.py-1 {
    font-size: 20px;
    background-color: #e2e3e5;
}

@media (max-width: 991.98px){
.navbar-expand-lg>.container{
    padding-right: 17px;
    padding-left: 17px;
}}

.logomenu {
    width: 20%;
    border: 0;
    padding-top: 5px;
    padding-bottom: 15px;
}

@media (max-width: 991.98px){
.logomenu {
    width: 40%;
    border: 0;
    padding-top: 5px; 
    padding-bottom: 15px;
    
}}

.lead {
    font-size: 1.25rem;
}

@media (max-width: 991.98px){
.lead {
    font-size: 1rem;
}}

@media (max-width: 768px){
    .lead {
        font-size: 0.75rem;
}}

.block-13 .owl-nav .owl-next {
    color: #fff;
}

.block-13 .owl-nav .owl-prev {
    color: #fff;
}

.block-grey .owl-nav .owl-prev {
    color: #000;
}

.block-grey .owl-nav .owl-next {
    color: #000;
}

.alabaster {
    padding-top: 2%;
}

.titleModal {
    text-align: center;
}

#jssor_modal {
    top: 0px;
}

@media (max-width: 768px){
    #jssor_modal {
        top: -23px;
    }}

.text-white-grey {
    color: #cccccc !important;
}

a.text-white-grey:hover {
    color: #ea7626 !important;
}

/* #jssor_body {
    top: 0px;
}

@media (max-width: 768px){
    #jssor_body {
        top: -23px;
    }} */

body a {
    color:#ffa364; /* #ea7626; */
    font-weight: 600;
}

body a:hover {
    color:#ea7626;
    font-weight: 600;
}

.text-orange {
    color: #ea7626 !important;
    font-weight: 600;
    text-shadow: 2px 2px 6px #000;
}

.unit-1-text strong {
    color: #ea7626 !important;
    text-shadow: 2px 2px 6px #000;
}